<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="BarcodeLaminationPrint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="DefaultConnection"
    connectionString="Data Source=118.31.79.35;Initial Catalog=PDASystem;User ID=sa;Password=Kpjzfr2r;"
    providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="TemplatePath" value="D:\Project Code\QBbarcode\BarcodeLamination\BarcodeLaminationAPI\LabelTemplates\FilmCoating3.btw" />
		<add key="PrinterName" value="TSC TTP-342E Pro" />
		<add key="BarTenderPath" value="C:\Program Files (x86)\Seagull\BarTender Suite\bartend.exe" />
		<add key="PollingInterval" value="5000" />
	</appSettings>
 <userSettings>
  <BarcodeLaminationPrint.Properties.Settings>
   <setting name="Printer1" serializeAs="String">
    <value />
   </setting>
   <setting name="SerialNumberLength" serializeAs="String">
    <value />
   </setting>
   <setting name="Printer2" serializeAs="String">
    <value />
   </setting>
   <setting name="Printer3" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberUsername" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SavedUsername" serializeAs="String">
    <value />
   </setting>
   <setting name="TemplateFile" serializeAs="String">
    <value />
   </setting>
  </BarcodeLaminationPrint.Properties.Settings>
 </userSettings>
</configuration>